* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

main {
    max-width: 840px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
    padding: 0.5rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 0 1rem 1rem;

}

p {
    margin: 1rem;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 100px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0/10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;

}